html, body {
    height: 100%;
}

body {
    background-color: #e6f1e4;
    max-width: 3000px;
    width: 100%;
}

.to-do-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.main-title {
    font-family: "Monotype Corsiva", sans-serif;
    font-size: 70px;
    font-weight: 100;
    color: #793205;
}

.input-wrapper {
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding-top: 10px;
}

.input {
    outline: none;
    border: none;
    padding: 10px;
    font-family: Cambria, sans-serif;
    font-size: 20px;
    color: #777777;
}

.to-do-list {
    list-style: none;
}

.list-item {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    margin-right: 15px;
    display: flex;
    position: relative;
}

.text-item {
    font-family: Cambria, sans-serif;
    font-size: 20px;
    color: #777777;
    padding-bottom: 1px;
    margin: 0;
}

.checked {
    text-decoration: line-through;
    margin-left: -10px;
}

.checkbox {
    margin-right: 20px;
    display: inline-block;
}

.delete-button {
    /*display: none;*/
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
    color: red;
}
